header {
	max-width: 100%;
	z-index: 10;
	position: sticky;
	top: 0;
	background: rgb(255, 251, 188, 0.5);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 0.5rem;
	justify-content: space-between;
}
.header-logo {
	max-width: 50px;
}

.header-item {
	text-transform: uppercase;
	padding: 0.5rem;
	background-color: rgb(240, 230, 140, 0.9);
	border: 2px solid darkkhaki;
	max-width: fit-content;
	display: block;
	cursor: pointer;
}

.header-item:active {
	transform: scale(0.98);
}

.search {
	max-width: 125px;
	width: 100%;
	color: rgb(0, 0, 0);
	border: 2px solid darkkhaki;
	font-family: inherit;
	font-size: 1rem;
	padding: 0.5rem 1.5rem;
	transition: all 0.2s ease-in;
}

.search:focus {
	outline: none;
	max-width: 200px;
}

.genre-item {
	flex: 1 0 80px;
	white-space: nowrap;
	text-align: center;
	background-color: rgb(240, 230, 140);
	border-radius: 2px;
	border: 1px solid black;
	padding: 5px;
}

.genre-item:active {
	transform: scale(0.98);
}

.genre-container {
	display: flex;
	gap: 2px;
	width: 100%;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	z-index: -1;
	position: absolute;
	background-color: inherit;
	padding: 0 10px 10px 10px;
	top: 100%;
	transition: 0.2s ease-in-out;
}
.burger-button {
	padding: 0.5rem;
	background-color: rgb(240, 230, 140, 0.9);
	min-width: 38px;
	text-align: center;
	border: 2px solid darkkhaki;
	display: block;
	cursor: pointer;
}

.tranding-container upcoming-container {
	padding: 0.2rem 2rem;
}
.upcoming-container {
	padding: 0.2rem 2rem;
}

.nav-container {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

/* Burger */

.header-space {
	width: 99.6%;
	position: absolute;
	transition: all 0.1s ease-in-out;
	bottom: -55%;
}
