body {
  background-color: darkkhaki;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.App {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.dark-theme {
  color: white;
  background-color: #121212;
}



.header-dark {
  background-color: rgba(0, 0, 0, 0.8);
}

.root {
  display: flex;
  flex-direction: column;
}

.movie-container {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.movie {
  max-width: 350px;
  min-height: 100%;
  background-color: rgba(218, 218, 218, 0.76);
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-out;
}

.movie:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}


.movie-over {
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
  background-color: seashell;
  color: rgb(0, 0, 0);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(100%);
  transition: transform 0.2s ease-in;
}

.movie:hover .movie-over {
  transform: translateY(0%);
}

.tag {
  background-color: rgb(0, 0, 0);
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 5px;
}

.tag.green {
  color: green
}

.tag.orange {
  color: orange
}

.tag.red {
  color: red
}

.checkBox {
  display: flex;
  align-items: center;
}

.checkbox input {
  color: blue
}

.dark-input {
  color: white;
}

.movie-showMore {
  font-size: 24px;
  border-radius: 50px;
  border: none;
  margin-bottom: 10px;  
  padding: 10px 20px;
}

.movie-link {
  max-width: 350px;
  flex: 1 1 300px;
}
a {
  text-decoration: none;
  color: inherit;
}